.main-container {
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.main-container .community-list-wrapper{
    width: 100%;
    border: 1px solid #f00;
}