.main-layout{
    width: 100%;
    min-width: 1220px;
    height: 100%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.main-layout .left{
    min-width: 144px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid lightgray;
}

.main-layout .center{
    width: 680px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-right: 1px solid lightgray;
    margin-right: 60px;
}

.main-layout .center .center-title{
    width: 90%;
    height: 7%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.main-layout .right{
    width: 340px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-layout .left .header-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.main-layout .left .header-container .logo{
    width: 90%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-layout .left .header-container .logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    cursor: pointer;
}

.main-layout .left .header-container .navigation{
    width: 90%;
    padding: 0 5%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.main-layout .left .header-container .profile{
    width: 90%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.main-layout .left .header-container .profile .profile-wrapper{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
}

.main-layout .left .header-container .navigation .navigation-item{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    line-height: 2;
    margin: 5% 0;
}

.main-layout .left .header-container .navigation .navigation-item.link{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    line-height: 2;
    margin: 5% 0;
    text-align: center;
    cursor: pointer;
    border: none;
}

.main-layout .left .header-container .navigation .navigation-item .navigation-icon{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-layout .left .header-container .navigation .navigation-item .navigation-icon > span{
    font-size: 2rem;
}

.main-layout .left .header-container .navigation .navigation-item .navigation-icon.active{
    color: rgb(0 96 255/1);
}

.main-layout .left .header-container .navigation .navigation-item .navigation-title{
    flex: 1;
    text-align: left;
    padding-left: 5%;
    
}

.main-layout .left .header-container .navigation .navigation-item .navigation-title.active{
    color: rgb(0 96 255/1);
}